* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .section4 .sec4-parent {
    width: 60.625em;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right {
    width: 72.68%;
    height: 59.4vh;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right button {
    left: -16em;
  }
  .section5 .sec5-parent {
    width: 58.75em;
  }
  .section5 .sec5-parent .sec5-left {
    width: 26.594em;
  }
  .section5 .sec5-parent .sec5-left p {
    width: 100%;
  }
  .section5 .sec5-parent .sec5-right {
    width: 26.594em;
  }
  #section6 {
    overflow: hidden;
  }
  #section6 .sec6-parent {
    width: 60.625em;
    height: 34.375em;
  }
  #section6 .sec6-parent .sec6-left {
    width: 28.438em;
  }
  #section6 .sec6-parent .sec6-right {
    margin-right: -15em;
    height: 34.375em;
  }
  #section6 .sec6-parent .sec6-right img {
    border-radius: 0;
    width: 40.544em;
    height: 29.5em;
  }
  .section7 .sec7-parent {
    width: 58.75em;
  }
  .section7 .sec7-parent .sec7-left {
    width: 22.083em;
  }
  .section7 .sec7-parent .sec7-right {
    width: 26.875em;
  }
  .section8 .sec8-parent {
    width: 60.625em;
  }
}
@media (max-width: 1200px) {
  #header #navbar-1 .header-left ul {
    margin: 0 0 0 10px;
  }
  #header #navbar-1 .header-left ul li {
    padding: 0 10px 0 0;
  }
  #header #navbar-1 #header-search-bar {
    gap: 0.5em;
  }
  #header #navbar-1 #header-search-bar form {
    padding: 0 0 0 5px;
  }
  footer .footer-parent {
    padding: 56px 32px 24px;
  }
  footer .footer-parent .footer-list {
    gap: 1em;
  }
  footer .footer-parent .footer-bottom .footer-bottom-content ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 990px) {
  #header #navbar-1 {
    padding: 0 15px;
    height: 3.438em;
  }
  #header #navbar-1 .header-left {
    display: flex;
    gap: 1em;
  }
  #header #navbar-1 .header-left #fa-bars {
    display: flex;
    font-size: 25px;
    align-items: center;
  }
  #header #navbar-1 .header-left ul {
    display: none;
  }
  #header #navbar-1 #header-search-bar {
    display: flex;
    align-items: end;
    gap: 1em;
  }
  #header #navbar-1 #header-search-bar form {
    display: none;
  }
  #header #navbar-1 #header-search-bar a {
    display: none;
  }
  #header #navbar-1 #header-search-bar button {
    padding: 0;
    background-color: transparent;
    color: #001e00;
  }
  #header #navbar-1 #header-search-bar #magnify {
    display: block;
  }
  #header .navbar-2 {
    display: none;
  }
  .section1 {
    padding: 5em 15px 0;
  }
  .section1 .sec1-parent .sec1-left {
    width: 48%;
  }
  .section1 .sec1-parent .sec1-left h1 {
    font-size: 44px;
  }
  .section1 .sec1-parent .sec1-right {
    width: 48%;
    height: 46vh;
  }
  .section2 #sec2-parent .sec2-images {
    width: 44.38em;
  }
  .section4 .sec4-parent {
    width: 46.875em;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right {
    width: 31.406em;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right button {
    left: -47%;
  }
  .section5 .sec5-parent {
    width: 45em;
    padding: 16px;
  }
  .section5 .sec5-parent .sec5-left {
    width: 20.719em;
  }
  .section5 .sec5-parent .sec5-right {
    width: 20.719em;
  }
  #section6 .sec6-parent {
    width: 46.875em;
    height: initial;
    flex-direction: column-reverse;
    justify-content: unset;
    gap: 1.5em;
  }
  #section6 .sec6-parent h2 {
    width: 100%;
    display: block;
    font-size: 35px;
    order: 1;
  }
  #section6 .sec6-parent .sec6-left {
    width: 100%;
  }
  #section6 .sec6-parent .sec6-left h2 {
    display: none;
  }
  #section6 .sec6-parent .sec6-left .sec6-left-bottom {
    width: 27em;
  }
  #section6 .sec6-parent .sec6-right {
    margin-right: 0;
    height: initial;
  }
  #section6 .sec6-parent .sec6-right img {
    border-radius: 0.5em;
    width: 45em;
  }
  .section7 {
    padding: 55px 15px;
  }
  .section7 .sec7-parent {
    border-radius: 0.5em;
    flex-direction: column;
    gap: 1em;
    width: 710px;
  }
  .section7 .sec7-parent .sec7-left {
    width: 100%;
  }
  .section7 .sec7-parent .sec7-left h2 {
    font-size: 35px;
  }
  .section7 .sec7-parent .sec7-right {
    width: 100%;
  }
  .section8 .sec8-parent {
    width: 46.875em;
  }
  .section8 .sec8-parent div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .section1 {
    justify-content: center;
  }
  .section1 .sec1-parent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    padding: 0;
  }
  .section1 .sec1-parent .sec1-left {
    width: 27em;
    padding: 15px;
    border-radius: 0.5em;
    background-color: #14a800;
  }
  .section1 .sec1-parent .sec1-left h1 {
    font-size: 38px;
  }
  .section1 .sec1-parent .sec1-left p {
    margin: 0 0 15px;
  }
  .section1 .sec1-parent .sec1-right {
    display: none;
  }
  .section2 {
    padding: 25px 0;
  }
  .section2 #sec2-parent .sec2-images {
    padding: 25px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 27em;
  }
  .section2 #sec2-parent .sec2-images p {
    width: 100%;
    margin: 0 0 15px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(1) {
    margin: 0 15px 20px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(2) {
    margin: 0 15px 20px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(3) {
    margin: 0 15px 20px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(4) {
    margin: 5px 15px 20px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(5) {
    margin: 5px 15px 20px;
  }
  .section4 {
    padding: 25px 0;
  }
  .section4 .sec4-parent {
    width: 28.875em;
  }
  .section4 .sec4-parent .sec4-top h2 {
    font-size: 32px;
  }
  .section4 .sec4-parent .sec4-top h3 {
    font-size: 20px;
    word-spacing: -3px;
  }
  .section4 .sec4-parent .sec4-bottom {
    flex-direction: column;
    row-gap: 2em;
    margin: 0;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-left {
    padding: 15px 15px 0;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-left li {
    display: none;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-left li:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-left li:nth-of-type(1) a {
    border: none;
    padding-left: 0;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-left li:nth-of-type(1) .fa-solid {
    display: block;
    font-size: 12px;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right {
    width: 100%;
    height: 12.5em;
  }
  .section4 .sec4-parent .sec4-bottom .sec4-bottom-right button {
    display: none;
  }
  .section4 .sec4-parent .sec4-bottom button {
    width: 10.633em;
    display: block;
    margin: 0 0 15px;
  }
  .section5 {
    padding: 25px 15px;
  }
  .section5 .sec5-parent {
    padding: 20px;
    width: 27em;
    height: initial;
  }
  .section5 .sec5-parent .sec5-left {
    width: 100%;
  }
  .section5 .sec5-parent .sec5-left h2 {
    font-size: 38px;
    margin: 0 0 24px;
  }
  .section5 .sec5-parent .sec5-right {
    display: none;
  }
  #section6 {
    margin: 0 0 25px;
    padding: 50px 0;
  }
  #section6 .sec6-parent {
    width: 28.875em;
  }
  #section6 .sec6-parent h2 {
    font-size: 32px;
    line-height: 1;
  }
  #section6 .sec6-parent .sec6-left h3 {
    font-size: 20px;
  }
  #section6 .sec6-parent .sec6-left p {
    margin: 0 0 10px;
  }
  #section6 .sec6-parent .sec6-right img {
    width: 27em;
    height: 18.425em;
  }
  .section7 {
    padding: 25px 15px;
  }
  .section7 .sec7-parent {
    padding: 15px 15px 0;
    width: 27em;
  }
  .section7 .sec7-parent .sec7-left h2 {
    font-size: 32px;
  }
  .section8 {
    padding: 15px 0;
  }
  .section8 .sec8-parent {
    margin: 0 0 35px;
    width: 28.875em;
  }
  .section8 .sec8-parent h2 {
    font-size: 32px;
    margin: 0 0 15px;
  }
  .section8 .sec8-parent h3 {
    font-size: 24px;
    margin: 0;
  }
  .section8 .sec8-parent div {
    grid-template-columns: 1fr;
  }
  .section8 .sec8-parent div #data {
    display: block;
  }
  .section8 .sec8-parent div a:nth-last-child(-n+28) {
    display: none;
  }
  .section8 .sec8-parent div button {
    display: block;
  }
}
@media (max-width: 699px) {
  footer .footer-parent {
    margin: 0 16px 16px;
    padding: 0 16px;
  }
  footer .footer-parent .footer-list-a {
    display: none;
  }
  footer .footer-parent .accordion {
    display: block;
  }
  footer .footer-parent .footer-middle .footer-middle-icon {
    display: block;
    gap: 2em;
  }
  footer .footer-parent .footer-middle .footer-middle-icon .icon-left {
    flex-direction: column;
    align-items: start;
    gap: 1em;
    margin: 0 0 20px;
  }
  footer .footer-parent .footer-middle .footer-middle-icon .icon-right {
    flex-direction: column;
    align-items: start;
    gap: 1em;
    margin: 0 0 20px;
  }
  footer .footer-parent .footer-bottom .footer-bottom-content {
    display: block;
    padding: 8px 0 32px;
  }
  footer .footer-parent .footer-bottom .footer-bottom-content p {
    margin: 0 0 24px;
  }
  footer .footer-parent .footer-bottom .footer-bottom-content ul {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 479px) {
  .section1 {
    padding: 5em 15px 25px;
  }
  .section2 #sec2-parent .sec2-images {
    padding: 15px 0 10px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(1) {
    margin: 0 5px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(2) {
    margin: 0 5px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(3) {
    margin: 0 5px;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(4) {
    display: none;
  }
  .section2 #sec2-parent .sec2-images img:nth-of-type(5) {
    margin: 0 5px;
  }
  .section4 .sec4-parent {
    width: 100%;
  }
  .section4 .sec4-parent .sec4-top h3 {
    line-height: 1.1;
  }
  .section5 {
    padding: 25px 0;
  }
  .section5 .sec5-parent {
    margin: 0 0 20px;
    border-radius: 0;
  }
}
@media (max-width: 460px) {
  .section1 .sec1-parent .sec1-left {
    width: 100%;
  }
  .section2 #sec2-parent .sec2-images {
    width: 100%;
  }
  .section5 .sec5-parent {
    width: 100%;
  }
  #section6 .sec6-parent {
    width: 100%;
  }
  #section6 .sec6-parent .sec6-left .sec6-left-bottom {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }
  #section6 .sec6-parent .sec6-right {
    width: 100%;
  }
  #section6 .sec6-parent .sec6-right img {
    width: 100%;
    height: fit-content;
  }
  .section7 .sec7-parent {
    width: 100%;
  }
  .section8 .sec8-parent {
    width: 100%;
  }
}