* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#header {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
}
#header #navbar-1 {
  padding: 0 30px;
  height: 4.325em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #navbar-1 .header-left {
  display: flex;
}
#header #navbar-1 .header-left #fa-bars {
  display: none;
}
#header #navbar-1 .header-left .header-img {
  width: 6em;
}
#header #navbar-1 .header-left .header-img a img {
  width: 90%;
}
#header #navbar-1 .header-left ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 18px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
#header #navbar-1 .header-left ul li {
  padding: 0 20px 0 0;
}
#header #navbar-1 .header-left ul li span:hover {
  color: #108a00;
}
#header #navbar-1 .header-left ul li .fa-solid {
  font-size: 8px;
}
#header #navbar-1 .header-left ul li a {
  text-decoration: none;
  color: #001e00;
}
#header #navbar-1 .header-left ul li a:hover {
  color: #108a00;
}
#header #navbar-1 .header-left ul li:hover {
  cursor: pointer;
}
#header #navbar-1 #header-search-bar {
  display: flex;
  align-items: center;
  gap: 1em;
}
#header #navbar-1 #header-search-bar form {
  border: none;
  border-radius: 10em;
  padding: 0 0 0 10px;
  padding: 0 0 0 10px;
  background-color: #e4ebe4;
}
#header #navbar-1 #header-search-bar form input {
  border: none;
  border-radius: 0.8em;
  padding: 0 3px;
  background-color: transparent;
}
#header #navbar-1 #header-search-bar form input::placeholder {
  font-size: 14px;
  font-weight: 500;
}
#header #navbar-1 #header-search-bar form button {
  background-color: initial;
  color: #5e6d55;
  border-left: thin medium #5e6d55;
  font-size: 14px;
  font-weight: 500;
}
#header #navbar-1 #header-search-bar form button .fa-solid {
  font-size: 9px;
}
#header #navbar-1 #header-search-bar form button:hover {
  background-color: #dee3dd;
}
#header #navbar-1 #header-search-bar a {
  text-decoration: none;
  font-size: 14px;
  color: #001e00;
  font-weight: 500;
}
#header #navbar-1 #header-search-bar button {
  border-radius: 10em;
  padding: 9px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #108a00;
  border: none;
}
#header #navbar-1 #header-search-bar #magnify {
  display: none;
}
#header .navbar-2 {
  padding: 20px 30px 20px;
}
#header .navbar-2 ul {
  margin: 0;
  padding: 0;
}
#header .navbar-2 ul li {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}
#header .navbar-2 ul li a {
  text-decoration: none;
  color: #001e00;
  padding: 0;
}
#header .navbar-2 ul li a:hover {
  color: #108a00;
  text-decoration: underline;
  cursor: pointer;
}
#header .navbar-2 ul li .fa-solid {
  font-size: 9px;
  color: initial;
}
#header .navbar-2 ul li:nth-of-type(4) {
  padding: 10px;
}
#header .navbar-2 ul li:nth-of-type(4) a {
  color: #108a00;
  text-decoration: underline;
}

.section1 {
  padding: 9.5em 15px 15px;
}
.section1 .sec1-parent {
  padding: 15px;
  background-color: #14a800;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
}
.section1 .sec1-parent .sec1-left {
  width: 39%;
  padding: 10px 0 0 10px;
}
.section1 .sec1-parent .sec1-left h1 {
  font-size: 56px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  margin: 0 0 15px;
  color: #ffffff;
  line-height: 1;
}
.section1 .sec1-parent .sec1-left p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 35px;
  color: #f7faf7;
}
.section1 .sec1-parent .sec1-left button {
  background-color: #ffffff;
  padding: 8px 24px;
  border: none;
  border-radius: 3em;
}
.section1 .sec1-parent .sec1-left button a {
  text-decoration: none;
  color: #001e00;
  font-weight: 500;
}
.section1 .sec1-parent .sec1-right {
  border-radius: 0.5em;
  width: 49%;
  height: 31.25em;
  background-image: url("../image/page4-sec1-image.jpg");
  background-size: cover;
}

.section2 {
  padding: 80px 0;
}
.section2 #sec2-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 #sec2-parent .sec2-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid #d4d4d4;
  padding: 25px 0;
  width: 58.75em;
}
.section2 #sec2-parent .sec2-images p {
  margin: 0;
  color: #5e6d55;
  font-weight: 500;
}

.section4 {
  padding: 55px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.section4 .sec4-parent {
  padding: 0 15px;
  width: 73.125em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.section4 .sec4-parent .sec4-top h2 {
  font-size: 38px;
  color: #001e00;
  margin: 0 0 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1;
}
.section4 .sec4-parent .sec4-top h3 {
  font-size: 22px;
  font-weight: 500;
  color: #5e6d55;
  line-height: 1;
  word-spacing: -4px;
  margin: 0;
}
.section4 .sec4-parent .sec4-bottom {
  display: flex;
  justify-content: space-between;
  border-radius: 0.8em;
  margin: 0 0 55px;
  border-radius: 0.8em;
  background-color: #f2f7f2;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left {
  padding: 25px 0 0 25px;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left li {
  line-height: 2;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left li a {
  color: #5e6d55;
  font-weight: 500;
  text-decoration: none;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left li a:hover {
  cursor: pointer;
  color: #3333ff;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left li .fa-solid {
  display: none;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-left li:nth-of-type(1) a {
  padding-left: 0.8em;
  border-left: 0.2px solid black;
  color: #001e00;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-right {
  width: 52.0313em;
  height: 52.4vh;
  background-image: url("../image/page4-sec4-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0;
  position: relative;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-right button {
  position: absolute;
  bottom: 2em;
  left: -17em;
  background-color: #108a00;
  border-radius: 3em;
  border: none;
  padding: 8px 24px;
}
.section4 .sec4-parent .sec4-bottom .sec4-bottom-right button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.section4 .sec4-parent .sec4-bottom button {
  display: none;
  background-color: #108a00;
  border-radius: 3em;
  border: none;
  padding: 8px 24px;
}
.section4 .sec4-parent .sec4-bottom button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.section5 {
  padding: 55px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section5 .sec5-parent {
  background-color: #1f57c3;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 0.8em;
  width: 71.25em;
  height: 29.438em;
}
.section5 .sec5-parent .sec5-left {
  width: 32.375em;
}
.section5 .sec5-parent .sec5-left h6 {
  margin: 0 0 16px;
  color: #ffffff;
}
.section5 .sec5-parent .sec5-left h2 {
  margin: 0 0 10px;
  font-size: 58px;
  color: #ffffff;
  line-height: 1;
  word-spacing: -4px;
  letter-spacing: -1px;
}
.section5 .sec5-parent .sec5-left h2 span {
  color: #91e6b3;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.section5 .sec5-parent .sec5-left p {
  width: 82%;
  margin: 0 0 40px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.1;
}
.section5 .sec5-parent .sec5-left button {
  padding: 8px 24px;
  border: none;
  border-radius: 3em;
  background-color: #ffffff;
}
.section5 .sec5-parent .sec5-left button a {
  text-decoration: none;
  color: #1f57c3;
  font-weight: 500;
}
.section5 .sec5-parent .sec5-right {
  border-radius: 0.8em;
  width: 33.313em;
  background-image: url("../image/page4-sec5-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section6 {
  margin: 0 0 55px;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f7f2;
}
.section6 .sec6-parent {
  display: flex;
  flex-direction: column;
  gap: 7em;
  width: 73.125em;
  padding: 0 15px;
}
.section6 .sec6-parent .sec6-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6 .sec6-parent .sec6-top h2 {
  display: none;
  font-size: 38px;
  color: #001e00;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  font-weight: 500;
  margin: 0;
}
.section6 .sec6-parent .sec6-top .sec6-top-left {
  width: 34.688em;
}
.section6 .sec6-parent .sec6-top .sec6-top-left h2 {
  display: block;
  font-size: 38px;
  color: #001e00;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  font-weight: 500;
  margin: 0;
}
.section6 .sec6-parent .sec6-top .sec6-top-left h3 {
  font-size: 22px;
  color: #5e6d55;
  margin: 0 0 10px;
  line-height: 1.1;
  word-spacing: -3px;
  letter-spacing: -1px;
}
.section6 .sec6-parent .sec6-top .sec6-top-left p {
  margin: 0 0 20px;
  font-weight: 500;
  color: #5e6d55;
  line-height: 1.2;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 20.813em;
  margin: 0 0 20px;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-icon {
  display: flex;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-icon img {
  margin: 0 5px 0 0;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-icon p {
  margin: 0;
  color: #001e00;
  font-weight: 500;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-paragraph {
  display: flex;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-paragraph p:nth-of-type(2) {
  margin: 0;
  color: #001e00;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-bottom .sec6-top-left-paragraph p:nth-of-type(1) {
  margin: 0 5px 0 0;
  width: 3.878em;
  color: #001e00;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-buttons p {
  margin: 0 10px 10px 0;
  color: #001e00;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-buttons button {
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  padding: 6px 15px;
  border: none;
  border-radius: 3em;
}
.section6 .sec6-parent .sec6-top .sec6-top-left .sec6-top-left-buttons button a {
  color: #001e00;
  text-decoration: none;
  font-weight: 500;
}
.section6 .sec6-parent .sec6-top .sec6-top-right {
  margin-right: -9em;
}
.section6 .sec6-parent .sec6-top .sec6-top-right img {
  height: 25.125em;
  width: 38.125em;
}
.section6 .sec6-parent .sec6-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section6 .sec6-parent .sec6-bottom h2 {
  display: none;
  font-size: 38px;
  color: #001e00;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1;
  word-spacing: -2px;
  font-weight: 500;
  margin: 0;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-left {
  margin-left: -9em;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-left img {
  border-radius: 0.5em;
  height: 38.125em;
  width: 38.125em;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right {
  width: 34.688em;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-text h2 {
  display: block;
  font-size: 38px;
  color: #001e00;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-text p {
  margin: 0 0 20px;
  font-weight: 500;
  color: #5e6d55;
  word-spacing: 1px;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon .sec6-bottom-right-icon-left {
  display: flex;
  align-items: center;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon .sec6-bottom-right-icon-left img {
  width: 1em;
  margin: 0 0.8em 0 0;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon .sec6-bottom-right-icon-left p {
  color: #001e00;
  font-weight: 500;
  margin: 0;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon button {
  padding: 4px 15px;
  border: none;
  border-radius: 3em;
  background-color: #108a00;
}
.section6 .sec6-parent .sec6-bottom .sec6-bottom-right .sec6-bottom-right-icon button a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.section7 {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section7 .sec7-parent {
  padding: 25px 25px 5px;
  background-color: #f2f7f2;
  border-radius: 0.5em;
  width: 71.25em;
  display: flex;
  justify-content: space-between;
}
.section7 .sec7-parent .sec7-left {
  width: 27.291em;
}
.section7 .sec7-parent .sec7-left h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.section7 .sec7-parent .sec7-right {
  padding: 0 0 20px;
  width: 33.125em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section7 .sec7-parent .sec7-right .sec7-box {
  border-bottom: 1.5px solid #e0d8d8;
  padding: 0 0 15px;
}
.section7 .sec7-parent .sec7-right .sec7-box h4 {
  font-size: 26px;
  font-family: 500;
  color: #001e00;
  line-height: 1.1;
  margin: 0 0 10px;
}
.section7 .sec7-parent .sec7-right .sec7-box p:nth-of-type(1) {
  color: #5e6d55;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px;
  line-height: 1.3;
}
.section7 .sec7-parent .sec7-right .sec7-box p:nth-of-type(2) {
  font-weight: 500;
  color: #1f57c3;
  margin: 10px 0 0;
}
.section7 .sec7-parent .sec7-right .sec7-box p:nth-of-type(2) .fa-solid {
  font-size: 10px;
}
.section7 .sec7-parent .sec7-right .sec7-faq {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 5px;
}
.section7 .sec7-parent .sec7-right .sec7-faq p {
  width: 9.566em;
  margin: 0 5px 0 0;
  color: #001e00;
  font-weight: 500;
}
.section7 .sec7-parent .sec7-right .sec7-faq a {
  color: #1f57c3;
  font-weight: 500;
}
.section7 .sec7-parent .sec7-right .sec7-faq a .fa-solid {
  font-size: 10px;
}
.section7 .sec7-parent .sec7-right .sec7-faq a:hover {
  color: #184397;
}
.section7 .sec7-parent .sec7-right .sec7-faq a:hover .fa-solid {
  font-size: 11px;
  color: #11306b;
}

.section8 {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section8 .sec8-parent {
  margin: 0 0 55px;
  padding: 0 15px;
  width: 73.125em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section8 .sec8-parent h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.section8 .sec8-parent h3 {
  font-size: 26px;
  font-weight: 500;
}
.section8 .sec8-parent div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
}
.section8 .sec8-parent div a {
  text-decoration: none;
  color: #5e6d55;
  font-size: 14px;
  font-weight: 500;
}
.section8 .sec8-parent div a:hover {
  text-decoration: underline;
  color: #1f57c3;
}
.section8 .sec8-parent div button {
  display: none;
  width: 5em;
  border: none;
  background-color: #ffffff;
  border-bottom: 0.8px solid #c8c5c5;
  font-size: 16px;
  color: #1f57c3;
  font-weight: 500;
  padding: 0 -2px 2px;
}
.section8 .sec8-parent div button:hover {
  cursor: pointer;
}

footer .footer-parent {
  margin: 0 24px 24px;
  padding: 96px 64px;
  background-color: #001e00;
  border-radius: 0.5em;
}
footer .footer-parent .footer-list-a {
  display: flex;
}
footer .footer-parent .footer-list-a ul {
  width: 25%;
  margin: 16px 0;
  font-size: 14px;
  color: #ffffff;
  padding: 0;
}
footer .footer-parent .footer-list-a ul li {
  line-height: 2;
}
footer .footer-parent .footer-list-a ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
footer .footer-parent .footer-list-a ul li a:hover {
  text-decoration: underline;
}
footer .footer-parent .accordion {
  display: none;
}
footer .footer-parent .accordion div {
  background-color: #001e00;
}
footer .footer-parent .accordion div h2 button {
  background-color: #001e00;
  font-size: 16px;
  color: #ffffff;
  padding: 24px 0;
}
footer .footer-parent .accordion div h2 button::after {
  color: #ffffff;
}
footer .footer-parent .accordion div .accordion-body {
  padding: 0 0 16px 16px;
  border-bottom: thin solid #ffffff;
}
footer .footer-parent .accordion div .accordion-body li {
  margin: 0 0 16px;
}
footer .footer-parent .accordion div .accordion-body li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
footer .footer-parent .footer-middle {
  margin: 24px 0 16px;
  padding: 16px 0;
  border-bottom: 1px solid #9aaa97;
}
footer .footer-parent .footer-middle .footer-middle-icon {
  display: flex;
  justify-content: space-between;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-left {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-left .icon-left-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-left .icon-left-icons div {
  border: thin solid #ffffff;
  width: 2.6em;
  height: 2.6em;
  border-radius: 50%;
  position: relative;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-left .icon-left-icons div .fa-brands {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  font-size: 16px;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-right {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  gap: 0.5em;
  display: flex;
  align-items: center;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-right .icon-right-icons {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-right .icon-right-icons div {
  border: thin solid #ffffff;
  width: 2.6em;
  height: 2.6em;
  border-radius: 50%;
  position: relative;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-right .icon-right-icons div .fa-brands {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  font-size: 16px;
}
footer .footer-parent .footer-middle .footer-middle-icon .icon-right .icon-right-icons div img {
  position: absolute;
  width: 70%;
  top: 0.4em;
  left: 0.3em;
}
footer .footer-parent .footer-bottom .footer-bottom-content {
  display: flex;
  color: #ffffff;
}
footer .footer-parent .footer-bottom .footer-bottom-content p {
  color: #ffffff;
  padding: 0 24px 0 0;
  margin: 0 24px 0 0;
  font-size: 14px;
}
footer .footer-parent .footer-bottom .footer-bottom-content ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}
footer .footer-parent .footer-bottom .footer-bottom-content ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
footer .footer-parent .footer-bottom .footer-bottom-content ul a:hover {
  text-decoration: underline;
}